body {
  font-family: Verdana, sans-serif;
  margin: auto;
  padding: 54px 18px 18px 18px;
  max-width: 600px;
  font-size: 16px;
  text-align: left;
  background-color: #FAF9F6;
  position: relative;
}

p, li {
  color: #343231;
  line-height: 20pt;
}

h1, h2, h3 {
  color: #343231;
  line-height: 40px;
}

a {
  margin: 0px 5px;
  color: #48cbf0;
}

img {
  max-width: 100%;
}

mark {
  background-color: #FCD299;
}

blockquote {
  border-left: 10px solid #ccc;
  padding: 0 0 0 10px;
}

@media (prefers-color-scheme: dark) {

  body {
    background-color: #343231;
  }

  p {
    color: #FAF9F6
  }

  h1, h2, h3 {
    color: #FAF9F6;
    line-height: 40px;
  }

  li {
    color: #FAF9F6
  }
  
  blockquote {
    border-left: solid #eee;
    padding: 0 0 0 10px;
  }
}