body {
  font-family: Verdana, sans-serif;
  margin: auto;
  padding: 54px 18px 18px 18px;
  max-width: 600px;
  font-size: 16px;
  text-align: left;
  background-color: #FAF9F6;
  position: relative;
  line-height: 20pt;
}

p {
  color: #343231
}

h1, h2, h3 {
  color: #343231
}

a {
  margin: 0px 5px;
  color: #48cbf0;
}

img {
  max-width: 600px;
}