body {
  font-family: Garamond, serif;
  margin: auto;
  padding: 18px;
  max-width: 600px;
  font-size: 18px;
  text-align: left;
  background-color: #FAF9F6;
  position: relative;
}

nav a {
  margin: 0px 5px;
  color: #7575FF;
}